.widget{
    display: flex;
    flex:1;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43);
    border-radius: 10px;
    height: 100px;
    justify-content: space-between;
    transition: all ease 0.2s;
    a:visited { text-decoration: none; color: grey;}
    a:link { text-decoration: none; }color: grey;
    a:hover { text-decoration: none; color: grey;}
    a:active { text-decoration: none; color: grey;}


    &:hover{
        height: 110px;
        padding: 7px;
        width: 240px;
    }

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: rgb(172, 167, 167);
        }

        .counter{
            font-size: 28px;
            font-weight: 300;
            color: black;
        }

        .link{
            font-size: 12px;
            border-bottom: 1px solid gray;
            width: max-content;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: rgb(31, 161, 31);
            }
            
            &.negative{
                color: red;
            }

        }

        .icon{
            font-size: 18px;
            padding: 5px;
            align-self: flex-end;

        }
    }

}